body{
	background-image: url('../images/bg1.jpg');
	background-repeat:  no-repeat;
	background-position:  center center;
	background-attachment:  fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	/*display: flex;
	min-height: 100vh;
	flex-direction:column;*/
}
main {
	flex: 1 0 auto;
}
.img-center {
	text-align: center;
	padding-top: 11%;
	padding-bottom: 5%;
}
.img-center img {
	text-align: center;
	width: 150px;
	height: 150px;
}
.page-footer {
	position: fixed;
	bottom: 0;
	width:100%;
}
/****************** MODAL **********************/
.modal {
	width: 75% !important;
	overflow-x: hidden;
	overflow-y: hidden;
}
.modal-header div{
	padding-bottom: 3px;
	padding-top: 21px;
}